 .corp{
	background: #2565ee;
	border-radius: 4px;
 }
 body {
 	background: rgb(228, 180, 180);
	font-family: Georgia, 'Times New Roman', Times, serif;
 	font-size: 14px;
 }
 #mainWrapper {
 	border-radius: 5px;
 	margin: 0 auto;
 	margin-top: 10px;
 	max-width: 1000px;
 }
 #titleContent {
 	background: #2565ee;
 	color: rgb(255, 255, 255);
 	font-size: 16px;
 	padding: 10px;
 }
 section article {
 	margin-top: 15px;
 }
 .barCode {
 	border: 1px solid rgb(99, 99, 99);
 	border-radius: 4px;
	height: 125px;
	margin-bottom: 10px;
	width: 24%;
 }
 .barCode header {
 	border-bottom: 1px solid rgb(94, 94, 94);
 	height: 35px;
 	margin-top: -10px;
 }
 .barCode header h4 {
 	background: #0999fa;
 	line-height: 35px;
 	text-align: center;
	color: #F7F7F9;
 }
 .alert {
 	display: none;
 }
 #doRegister{
	background: green;
	color: #F7F7F9;
 }
 #aRegister {
 	display: none;
 }
 #aSearch {
 	display: none;
 }
 #tSearch_wrapper {
 	margin-bottom: 20px;
 }
#aSearch .row-fluid {
	border-top: 3px dotted black;
	display: none;
	padding-top: 10px;
}
#aSearch table tr {
	cursor: pointer;

}
footer p {
	background:#2565ee;
	border-radius: 4px;
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin: 0 auto;
	max-width: 1000px;
	padding: 12px;
}